/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
  
  
}

.v-application {
    background-color: #B39DDB; /* Exemple de personnalisation de l'arrière-plan de l'application */
  }
  
  /* Ajoutez d'autres styles personnalisés selon vos besoins */
 
/* Exemple avec une classe supplémentaire */
#inspire .v-list-item__title.custom-list-item {
  color: violet !important;}

  .v-list-item-title {

    
    hyphens: auto;
    overflow-wrap: normal;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
    line-height: 1.5rem;
    text-transform: none;
    color: rgb(145, 37, 145) !important}

  .ml-2 {
    margin-left: 300px !important;
    font-size: larger;
    margin-top: 100px;
}

/*.mdi:before, .mdi-set {
  margin-left: 580px !important;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  margin-top: 100px;
 font-size: larger;}*/

 .v-container {
  width: 100%;
  padding: 60px;
  margin-right: 50px;
  /*margin-left: auto;*/
  max-height: 100vh; 
 /* background-color: #B39DDB;*/
}

.v-list-item--variant-plain, .v-list-item--variant-outlined, .v-list-item--variant-text, .v-list-item--variant-tonal {
  background: transparent;
  /* color: inherit; */
  text-decoration: none;
}

.mdi-view-dashboard::before {
  content: "\F056E";
  color: #6A1B9A;
}

.mdi-cash-multiple::before {
  content: "\F0116";
  color: #6A1B9A;
}

.mdi-account-group::before {
  content: "\F0849";
  color: #6A1B9A;
}

.mdi-cash-refund::before {
  content: "\F0A9C";
  color: #6A1B9A;

}

.mdi-currency-usd::before {
  content: "\F01C1";
  color: #6A1B9A;
}

.mdi-email::before {
  content: "\F01EE";
  color: #6A1B9A;
}


.mdi-chart-bar::before {
    content: "\F0128";
    color: #6A1B9A;

}

.mdi-account-circle::before {
    content: "\F0009";
    color: #6A1B9A;
}

.mdi-logout::before {
  content: "\F0343";
  color: #6A1B9A;
}

.mdi-account-circle::before {
  content: "\F0009";
  color: #ffffff;
}

.v-navigation-drawer__content {
  flex: 0 1 auto;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0.9, 0.9, 0.9);}

  /*.mdi-bell::before {
    content: "\F009A";

    /*content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px; /* Diamètre du cercle, ajustez selon vos besoins */
    /*height: 35px; /* Diamètre du cercle, ajustez selon vos besoins */
    /*background-color: #ff0000; /* Couleur du cercle */
   /* border-radius: 50%;
    box-shadow: 0 0 20px 10px #111111; 
  
}
.mdi-bell {
  position: center;
  display: inline-block;
}

.mdi-dots-vertical::before {
  content: "\F01D9";
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px; /* Diamètre du cercle, ajustez selon vos besoins */
    /*height: 35px; /* Diamètre du cercle, ajustez selon vos besoins */
    /*background-color: #ff0000; /* Couleur du cercle */
   /* border-radius: 50%;
    box-shadow: 0 0 20px 10px #111111; 
}*/

/*.v-col-12 {
  flex: 0 0 100%;
  max-width: 30%;
  margin-top: 5%;
  max-height: 51%;
  box-shadow: 0 0 20px 10px #111111; 
  
}*/

.v-col-12{
  margin-top: 5%;
}